version: "3.9"
services:
  prometheus:
    container_name: {{ stand_id }}
    image: prom/prometheus:{{ version }}
    ports:
      - {{ port }}:9090
    volumes:
      - ./.prometheus:/prometheus
      - ./openmetrics:/prometheus/openmetrics
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
    command:
{%- for param in params %}
      - '--{{ param }}'
{%- endfor %}
    networks:
      - {{ stand_id }}-network

networks:
  {{ stand_id }}-network:
    driver: bridge
