# HELP {{ metric }}_http_requests_total The total number of HTTP requests.
# TYPE {{ metric }}_http_requests_total counter
{{ metric }}_http_requests_total{code="200",service="user"} 123 {{ timestamp }}
{{ metric }}_http_requests_total{code="500",service="user"} 456 {{ timestamp }}
# EOF